*{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
/* 
#logo{
  background-image: url("../ASSETS/Logo-voyages.png");
  width: 100px;
  height: 100px;
  z-index: 100000000000000000;

} */

nav{
  font-family: 'Roboto';
font-style: normal;
font-size: 25px;
text-align: center;

}

ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0;
  padding: 0;
}

.aNav {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}

ul ul {
  display: none;
  position: absolute;
  width: 200px;
}

li:hover > ul {
  background-color:
  rgba(0, 0, 0, 0.65);
  display: block;
}

ul ul ul {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 200px;
}
