.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  margin: 2% 0;
}
.gallery__thumb {
  position: relative;
  margin: 1% 4%;
}
.gallery__thumb:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
  object-fit: cover;
  /* object-fit: cover;
  height: 100vh; */
}
.format1 {
  height: 75vh;
}
.format2 {
  height: 125vh;
}
/* .gallery__image:hover {
  transform: scale(1.1);
} */
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
.gallery__thumb:hover .gallery__caption {
  opacity: 1;
}

/* RESPONSIVE */

/* Changer .gallery__column width 50% */
