h1 {
    color: var(--color-text);
    font-size: 3rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
h2{
    color: var(--color-text);
    text-align: center;
    margin-bottom: 0px;
}
.entete{
  display: flex;
justify-content: center;
align-items: center;
}

.entete img {
  width: 6%;
  height: 50%;
  border-radius: 5px;
  margin-left: 1%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    bottom: -100px;
}
main img{
    border-radius: 10px;
    width: 100%;
}
.ville{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

main p{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  width: 16%;
  text-align: justify;
  padding: 5px;
  border-radius: 5px;
  /* margin-bottom: 0; */
  margin: 0 2%;
}
/* div qui prend l'image et le texte pour caler celui-ci en bas de l'image */
.description{
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
/* texte en hover sur les photos */
.ville:hover p{
opacity: 1;  
transition: 0.5s;
transform: translateY(-30px);
}

/* main img:hover{
    opacity: 0.5;
    transition: 0.5s;
} */

/* emplacement des 3 boutons d'iles */
.iles{
    display: flex;
    margin-top: 8%;
}

main a {
    margin: 15px;
    text-decoration: none;
    padding: 15px;
    background-color: var(--color-background);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
  }

  /* rubriques ouvertes */
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
  }
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  .modal_content {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    position: relative;
    width: 1100px;
    background: var(--color-background);
    padding: 1.5em 2em;
    margin-top: 150px;
  }
  
  .modal_close {
    /* background-color: red; */
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    text-decoration: none;
    font-weight: bolder;
  }

@media screen and (max-width:768px) and (min-width: 426px)  {

.entete img{
  width: 7%;
}
.modal_content{
  margin-top: 200px;
}
}
@media screen and (max-width: 425px)  {

.entete img{
width: 12%;
}
.entete h1{
  font-size: 2rem;
}
.modal_close{
  right: -5px;
}

}